<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PriceListLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data><userSettings>
        <PriceListLoader.Properties.Settings>
            <setting name="MisDbAddress" serializeAs="String">
                <value>172.16.9.9</value>
            </setting>
            <setting name="MisDbName" serializeAs="String">
                <value>central</value>
            </setting>
            <setting name="MisDbUser" serializeAs="String">
                <value>sysdba</value>
            </setting>
            <setting name="MisDbPassword" serializeAs="String">
                <value>masterkey</value>
            </setting>
            <setting name="MisDbSelectPriceByCode" serializeAs="String">
                <value>select first 1 S.SPRICE
    from WSCHEMA W
        join PRICESCONTRACTOR P on p.filial = @filid
                                and p.fdate &lt;= current_date
        join SCHPRICECONTRACTOR S   on w.schid = s.schid
                                    and s.prid = p.prid
                                    and s.kateg = 13
    where
        w.schid = (
select schid 
from wschema 
where kodoper=@kodoper
and schname=@schname
and w.structid = 3)
        and w.structid = 3
        and (W.DISDATE is null or W.DISDATE &gt; '01.01.2017')
        and (W.INVISINPRICE is null or W.INVISINPRICE = 0)
        and s.schid is not null
        and s.pricetype = 0
    order by w.schid, p.fdate desc</value>
            </setting>
        </PriceListLoader.Properties.Settings>
    </userSettings>
</configuration>